extends ../../../templates/master.pug

block content
    h1.title
        span.fa(class= user ? 'fa-user' : 'fa-user-plus')
        | &nbsp; #{post ? 'Edit': 'New'} Post

    form(method="POST" action=`/post${post ? `/${post.intPostId}?_method=PUT` : ''}`)
        .field
            .label Category:
            .control
                select.input(name="category")
                    each category in categories
                        option(value=category.intCategoryId) #{category.strCategoryName}
        .field
            .label Title:
            .control
                input.input(type="text" name="title" value= post ? post.strPostTitle : '')
        .field
            .label Content:
            .control
                textArea.input(type="text" name="content" style="margin: 0px; width: 1200px; height: 171px;")
        input.button.is-primary(type="submit" value="Post")